HTML CSSResult Skip Results Iframe EDIT ON *,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.2rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  margin: 2rem;
}

.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

.btn--yellow:hover {
  margin-top: 23px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

body {
  min-height: 100%;
  background-color: #494949;
  font-family: "メイリオ", Meiryo, "ヒラギノ丸ゴ ProN",
    "Hiragino Maru Gothic ProN", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", sans-serif;
}

.all-wrapper {
  margin: 2vh auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 80vw;
  height: 85vh;
  background: #fff;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0px 10px 2px rgba(0, 0, 0, 0.14);
  overflow: auto;
}

@media screen and (max-width: 600px) {
  .all-wrapper {
    padding: 0;
    width: 99vw;
    height: 95vh;
  }
}

.contents {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: auto;
  z-index: 10;
  font-size: 1.6rem;
}

.info-wrapper {
  position: relative;
  display: flex;
  width: 300px;
}

.huyo-wrapper {
  margin: 0 auto;
  position: relative;
  display: flex;
  width: 250px;
}

.info-table {
  border-collapse: collapse;
}

.info-table th,
.info-table td {
  border: solid 1px #fff;
  padding: 5px;
}

.btn-border {
  border: 3px solid #000;
  border-radius: 0;
  background: #fff;
}

.btn-border:before {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #000;
}

.btn-border:hover:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.button-label {
  font-size: 1.6rem;
}

.option-wrapper {
  padding: 1rem;
  background-color: rgb(241, 241, 241);
}

.option-wrapper label {
  display: block;
  font-size: 1.6rem;
}

.wrapper {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.wrapper- {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.wrapper- label {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.warn {
  color: red;
  font-size: 18px;
}
